body {
    @apply  bg-cool-gray-400 font-sans;
  }
  
  /* salas */ 
  .card-sala{
    @apply mt-6 mx-8 duration-500 hover:transform hover:-translate-x-2 hover:translate-y-4 hover:scale-110  overflow-hidden flex-shrink-0 h-64 w-64 rounded-t-2xl rounded-lg shadow-2xl;
  }
  
  /* web conf */
  .participant-1-1{
    @apply transition-all delay-150 h-96 w-96 justify-self-center self-center md:h-3/6 md:w-3/6 lg:h-4/6 bg-transparent rounded-md;
  }
  
  .participant-1-2{
    @apply transition-all delay-150 h-52 w-52 justify-self-end self-center md:h-3/6 md:w-4/6 bg-gray-100 rounded-md;
  }
  .participant-2-2{
    @apply transition-all delay-150 h-52 w-52 justify-self-start self-center md:h-3/6 md:w-4/6 bg-gray-100 rounded-md;
  }
  
  .participant-1-3{
    @apply transition-all delay-150 h-52 w-52 justify-self-end self-center md:h-5/6 md:w-4/6 bg-gray-100 rounded-md;
  }
  .participant-2-3{
    @apply transition-all delay-150 h-52 w-52 justify-self-start self-center md:h-5/6 md:w-4/6 bg-gray-100 rounded-md;
  }
  .participant-3-3{
    @apply col-span-2 transition-all delay-150 h-52 w-52 justify-self-center self-start md:h-5/6 md:w-2/6 bg-gray-100 rounded-md;
  }
  
  .participant-1-4{
    @apply transition-all delay-150 h-52 w-52 justify-self-end self-end md:h-4/6 md:w-4/6 lg:h-5/6 bg-gray-100 rounded-md;
  }
  .participant-2-4{
    @apply transition-all delay-150 h-52 w-52 justify-self-start self-end md:h-4/6 md:w-4/6 lg:h-5/6 bg-gray-100 rounded-md;
  }
  .participant-3-4{
    @apply transition-all delay-150 h-52 w-52 justify-self-end self-start md:h-4/6 md:w-4/6 lg:h-5/6 bg-gray-100 rounded-md;
  }
  .participant-4-4{
    @apply transition-all delay-150 h-52 w-52 justify-self-start self-start md:h-4/6 md:w-4/6 lg:h-5/6 bg-gray-100 rounded-md;
  }
  
  /* modal */
  
  .leaving-modal{
    @apply opacity-0 ease-in duration-200;
  }
  
  .entering-modal{
    @apply ease-out duration-300 opacity-100;
  }
  
  /* botoes */
  
  .btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300 text-white bg-blue-900 hover:bg-blue-600;
  }
  
  .btn-soft{
    @apply shadow-md py-3 px-6 rounded-md transition duration-300 text-white bg-gray-500 hover:bg-gray-400;
  }
  
  /* salas */
  
  .btn-hide{
    @apply transform opacity-0 scale-95;
  }
  
  .btn-show{
    @apply transform opacity-100 scale-100;
  }
  
  
  
  /* New Incident */
  
  #new-incident {
    @apply mx-auto w-full max-w-md;
  
    .wrapper {
      @apply bg-white py-6 shadow rounded-lg px-10;
    }
  
    form {
      input[type="text"],
      textarea {
        @apply appearance-none block w-full px-3 py-2 border border-cool-gray-400 rounded-md transition duration-150 ease-in-out text-base leading-5;
      }
  
      input[type="text"]:focus,
      textarea:focus {
        @apply outline-none border-indigo-300 ring ring-indigo-300;
      }
  
      .group:not(:first-of-type) {
        @apply mt-6;
      }
  
      label {
        @apply block text-sm font-bold leading-5 text-cool-gray-700 mb-1;
      }
  
      button {
        @apply mt-6 w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600  transition duration-150 ease-in-out outline-none;
      }
  
      button:hover {
        @apply bg-indigo-500;
      }
  
      button:focus {
        @apply outline-none border-indigo-700 ring ring-indigo-300;
      }
  
      .help-block {
        @apply text-orange-600 mt-4;
      }
    }
  }
  
  
  #top-secret {
    @apply flex items-center justify-center py-10;
  
    img {
      @apply w-40 mr-8;
    }
  
    .mission {
      @apply text-center;
  
      h2 {
        @apply text-3xl text-cool-gray-600 mb-2 font-bold;
      }
  
      h3 {
        @apply text-3xl font-bold mb-2 text-indigo-600;
      }
  
      p {
        @apply text-3xl text-cool-gray-600 mb-2;
      }
    }
  }
  
    /* AUTH */
  
  
  .auth {
    @apply px-6 mt-8 mx-auto w-full max-w-md;
  
    h3 {
      @apply mt-6 mb-2 text-xl font-bold text-cool-gray-900;
    }
  }
  
  form[action="/users/log_in"],
  form[action="/users/register"],
  form[action="/users/reset_password"],
  form[action="/users/confirm"],
  form[action="/users/settings"] {
    @apply bg-white px-10 py-8 mb-6 shadow rounded-lg;
  
    @apply px-6 mt-8 mx-auto w-full max-w-md;
  
    label {
      @apply block mb-2 text-sm font-medium text-cool-gray-700;
    }
  
    input[type="email"],
    input[type="password"] {
      @apply mb-4 appearance-none block w-full px-3 py-2 border border-cool-gray-300 rounded-md transition duration-150 ease-in-out text-sm;
    }
  
    input[type="email"]:focus,
    input[type="password"]:focus {
      @apply outline-none ring ring-indigo-300 border-indigo-300;
    }
  
    .checkbox-field {
      @apply flex items-center mb-4;
  
      input[type="checkbox"] {
        @apply m-0 h-4 w-4 text-cool-gray-700 transition duration-150 ease-in-out;
      }
  
      label {
        @apply m-0 ml-2;
      }
    }
  
    button {
      @apply mt-2 w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 transition duration-150 ease-in-out;
    }
  
    button:focus {
      @apply outline-none border-indigo-700 ring ring-indigo-300;
    }
  
    button:active {
      @apply bg-indigo-700;
    }
  
    button:hover {
      @apply bg-indigo-500;
    }
  }
  
    /*
     * Range Input
     *
     * Generated by:
     * http://danielstern.ca/range.css
     *
     */
    
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      margin: 13.8px 0;
    }
    input[type="range"]:focus {
      outline: none;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: #7f9cf5;
      border-radius: 0px;
      border: 0px solid #7f9cf5;
    }
    input[type="range"]::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #4c51bf;
      height: 36px;
      width: 17px;
      border-radius: 35px;
      background: #4c51bf;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -13.8px;
    }
    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #97aef7;
    }
    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      background: #7f9cf5;
      border-radius: 0px;
      border: 0px solid #7f9cf5;
    }
    input[type="range"]::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #4c51bf;
      height: 36px;
      width: 17px;
      border-radius: 35px;
      background: #4c51bf;
      cursor: pointer;
    }
    input[type="range"]::-ms-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type="range"]::-ms-fill-lower {
      background: #678af3;
      border: 0px solid #7f9cf5;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type="range"]::-ms-fill-upper {
      background: #7f9cf5;
      border: 0px solid #7f9cf5;
      border-radius: 0px;
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    }
    input[type="range"]::-ms-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 1px solid #4c51bf;
      height: 36px;
      width: 17px;
      border-radius: 35px;
      background: #4c51bf;
      cursor: pointer;
      height: 8.4px;
    }
    input[type="range"]:focus::-ms-fill-lower {
      background: #7f9cf5;
    }
    input[type="range"]:focus::-ms-fill-upper {
      background: #97aef7;
    }
    
    /*
     * Loading Spinner
     *
     * Copied from:
     * https://projects.lukehaas.me/css-loaders/
     */
    
    .loader,
    .loader:before,
    .loader:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
    .loader {
      color: #5a67d8;
      font-size: 10px;
      margin: 20px auto;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    .loader:before,
    .loader:after {
      content: "";
      position: absolute;
      top: 0;
    }
    .loader:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .loader:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    